* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:hover, a:active {
  opacity: 0.8;
}

/* GLOBAL */
h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

h3 {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

p {
  font-size: 15px;
  font-weight: 200px;
  margin-bottom: 8px;
  line-height: 1.4;
}

.opacity-text {
  opacity: .8;
}

.opacity-text-intense {
  opacity: .5;
}

.color-white {
  color: #fff;
}

.list {
  list-style: circle;
  padding-left: 26px;
  margin-bottom: 20px;
}

.list li {
  margin-bottom: 4px;
}

.genres {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: solid 1px #ddd;
  border-radius: 5px;
  color: #666;
}

.button {
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 30px;
  color: #fff;
  border: solid 2px #01d277;
  color: #01d277;
}

.button:hover, .button:active {
  opacity: 0.7;
}

/* /GLOBAL */

/* APP */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background: #000;
  padding: 0 24px;
  z-index: 100;
}

.header-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.header-content:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.logo {
  display: inline-block;
  width: 60px;
  height:  60px;
  padding: 12px 4px 12px 0;
}

.nav,
.logo {
  float: left;
}

.nav-item {
  display: inline-block;
  position: relative;
  height: 100%;
  padding: 0 8px;
  line-height: 64px;
}

.nav-link {
  color: #fff;
}

.container {
  padding-top: 64px;
  background: #f9f9f9;
}
/* /APP */

/* DISCOVER */
.disvover-container {
  text-align: center;
  padding: 16px 24px 24px;
}

.disvover-container select {
  margin-bottom: 16px;
}
/* /DISCOVER */

/* MOVIE DETAIL */
.movie {
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.movie-details-wrapper {
  position: relative;
  background-image: radial-gradient(circle at 20% 50%, rgba(11.37%, 29.80%, 22.75%, 0.98) 0%, rgba(33.33%, 50.98%, 35.69%, 0.88) 100%);
}

.movie-details-backdrop {
  display: block;
  width: 100%;
}

.movie-details {
  padding: 20px;
  background: rgba(0,0,0,0.6);
}

.movie-details-poster {
  display: none;
}

.movie-details-poster-img {
  display: block;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.movie-details-title-wrapper {
  padding: 20px 20px 0;
}

.movie-details-title span {
  font-weight: 300;
  font-size: 0.8em;
}

.movie-details-more-info {
  position: relative;
  padding: 20px;
  z-index: 10;
}

.movie-details-poster-img {
  width: 100%;
}

@media (min-width: 520px) {
  .movie-details-poster {
    display: block;
    margin-top: -148px;
  }
}

@media (min-width: 600px) {
  .movie-details-poster {
    margin-top: -186px;
  }
}

@media (min-width: 720px) {
  .movie-details-poster {
    margin-top: -240px;
  }
}

@media (min-width: 800px) {
  .movie-details-poster {
    margin-top: -288px;
  }
}

.movie-bars {
  padding: 20px;
}

.movie-bars-item {
  margin-bottom: 20px;
}

.movie-genres {
  padding: 20px;
}

.movie-genres .genres:first-child {
  margin-left: 0;
}

.movie-collection {
  padding: 20px;
  background-repeat: no-repeat;
}

.movie-collection-poster {
  max-width: 120px;
}

.movie-collection-poster-img {
  width: 100%;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.movie-collection-title {
  text-align: center;
  padding: 20px;
}

.movie-collection-title .button {
  margin-top: 8px;
}

.movie-collection-poster {
  display: none;
}

@media (min-width: 520px) {
  .movie-collection-title {
    text-align: left;
  }

  .movie-collection-poster {
    display: block;
  }
}
/* /MOVIE DETAIL */

/* MOVIE CARD */
.movie-card {
  background: #fff;
  border: solid 1px #ddd;
  margin: 0 10px 20px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.movie-card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #000;
}

.movie-card-overview {
  font-size: 14px;
  color: #999;
}

.movie-card-img {
  display: none;
}

.movie-card-more-info {
  padding: 16px 20px;
  border-top: solid 1px #DDD;
}

.movie-card-link {
  color: #333;
  font-size: 14px;
}

.movie-card-details {
  padding: 20px;
}

@media (min-width: 520px) {
  .movie-card {
    width: 483px;
    height: 278px;
  }

  .movie-card-img {
    display: inline-block;
    width: 185px;
  }

  .movie-card-overview {
    font-size: 14px;
    color: #999;
    max-height: 58px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
/* /MOVIE CARD */

/* PAGINATION */
.pagination-button {
  color: #01d277;
  font-size: 14px;
  padding: 0 10px;
}

.pagination-button:hover,
.pagination-button:active {
  opacity: .6;
}

.pagination-button[disabled] {
  opacity: .2;
}
/* /PAGINATION */

/* POINTS BAR */
.points-bar {
  position: relative;
  height: 30px;
  border: solid 2px #ddd;
  border-radius: 5px;
  background: #eee;
  overflow: hidden;
}

.points-bar-indicator {
  float: left;
  width: 0;
  height: 100%;
  background: #000;
  border-radius: 0 5px 5px 0;
}

.points-bar-data {
  float: right;
  margin-right: 5px;
  font-size: 13px;
  line-height: 26px;
  display: inline-block;
  color: #999;
}
/* /POINTS BAR */

/* TAB */
.tab-pannel-nav {
  border: solid 1px #ddd;
  border-right: 0;
  border-left: 0;
}

.tab {
  position: relative;
  display: block;
  padding: 20px 10px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.tab.active {
  color: #01d277;
}

.tab.active:after {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  left: 10px;
  bottom: 0;
  height: 2px;
  background: #01d277;
}

.tab-pannel-pannel {
  padding: 20px;
}
/* /TAB */

/* NOT FOUND */
.not-found {
  padding: 20px;
  background: #fff;
  text-align: center;
}

.not-found-title {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  color: #ddd;
}
