* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:hover, a:active {
  opacity: 0.8;
}

/* GLOBAL */
h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

h3 {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 8px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

p {
  font-size: 15px;
  font-weight: 200px;
  margin-bottom: 8px;
  line-height: 1.4;
}

.opacity-text {
  opacity: .85;
}

.color-white {
  color: #fff;
}

/* /GLOBAL */

/* APP */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background: #000;
  padding: 0 24px;
  z-index: 100;
}

.header-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.header-content:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.logo {
  display: inline-block;
  width: 60px;
  height:  60px;
  padding: 12px 4px 12px 0;
}

.nav,
.logo {
  float: left;
}

.nav-item {
  display: inline-block;
  position: relative;
  height: 100%;
  padding: 0 8px;
  line-height: 64px;
}

.nav-link {
  color: #fff;
}

.container {
  padding-top: 64px;
  background: #f9f9f9;
}
/* /APP */

/* DISCOVER */
.disvover-container {
  padding: 24px;
}
/* /DISCOVER */

/* MOVIE DETAIL */
.movie {
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.movie-details-wrapper {
  position: relative;
  background-image: radial-gradient(circle at 20% 50%, rgba(11.37%, 29.80%, 22.75%, 0.98) 0%, rgba(33.33%, 50.98%, 35.69%, 0.88) 100%);
}

.movie-details-backdrop {
  display: block;
  width: 100%;
}

.movie-details {
  padding: 20px;
  background: rgba(0,0,0,0.6);
}

.movie-details-poster {
  display: none;
}

.movie-details-poster-img {
  display: block;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.movie-details-title-wrapper {
  padding: 20px 20px 0;
}

.movie-details-title span {
  font-weight: 300;
  font-size: 0.8em;
}

.movie-details-more-info {
  position: relative;
  padding: 20px;
  z-index: 10;
}

.movie-details-poster-img {
  width: 100%;
}


@media (min-width: 520px) {
  .movie-details-poster {
    display: block;
    margin-top: -148px;
  }
}

@media (min-width: 600px) {
  .movie-details-poster {
    margin-top: -186px;
  }
}

@media (min-width: 720px) {
  .movie-details-poster {
    margin-top: -240px;
  }
}

@media (min-width: 800px) {
  .movie-details-poster {
    margin-top: -288px;
  }
}
/* /MOVIE DETAIL */

/* MOVIE CARD */
.movie-card {
  background: #fff;
  border: solid 1px #ddd;
  margin: 0 10px 20px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.movie-card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #000;
}

.movie-card-overview {
  font-size: 14px;
  color: #999;
  max-height: 145px;
  overflow-y: scroll;
}

.movie-card-img {
  display: none;
}

.movie-card-more-info {
  padding: 16px 20px;
  border-top: solid 1px #DDD;
}

.movie-card-link {
  color: #333;
  font-size: 14px;
}

.movie-card-details {
  padding: 20px;
}

@media (min-width: 520px) {
  .movie-card {
    width: 483px;
    height: 278px;
  }

  .movie-card-img {
    display: inline-block;
    width: 185px;
  }
}
/* /MOVIE CARD */

/* PAGINATION */
.pagination-button {
  color: #01d277;
  font-size: 14px;
  padding: 0 10px;
}

.pagination-button:hover,
.pagination-button:active {
  opacity: .6;
}

.pagination-button[disabled] {
  opacity: .2;
}
/* /PAGINATION */
